
.{
    box-sizing:border-box;
    margin:  0;
    padding: 0;
    } 

    body header{
        background-color: rgb(255, 255, 255);
        padding: 16px 0;
    }

    header .container{
    display: flex;
    align-items: center;
    justify-content: first baseline;
}
    header li{
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
    }
.container {
    width: 1366px;
    margin: 0 auto;
}

header li a{
    color:cornflowerblue;
    text-decoration: none;
}

.articles {
    display: flex;
    flex-wrap: wrap;
}
.articles article img {
    height: 190px;
    width: 85%;
}
.articles article{
    width:29%;
}
  section{
    padding: 16px 0;
  }
  section h2,
  .articles article{
    margin-bottom: 16px;
  }
.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}
.articles article a{
    background-color: blue;
    color: blanchedalmond;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover{
    text-decoration: underline;
}
.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;;
}
section h2{
    font-size: 32px;
}

#sports{
    background-color: rgb(238, 44, 44); 
}
#sports .articles article a{
    background-color: black;
}
#economy{
    background-color: rgb(219, 203, 53);
}
#economy .articles article a{
    background-color: rgb(8, 7, 7);
}
#produtos{
    background-color: greenyellow 
}
#Carros{
    background-color: rgb(33, 38, 63); 
    text-colo
}
#Carros .articles article p{
    color: rgb(255, 255, 255);
}
#Carros .articles article h3{
    color: rgb(255, 255, 255);
}
#Carros .articles article h2{
    color: rgb(255, 255, 255);
}
h2{
    color: rgb(255, 255, 255);
}