* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prata', Helvetica;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 5% auto;

}

header {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 50px;
    font-weight: Arial;
}
header img {
    height: 68px;
    margin-right: 24px;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
}

form input {
    font-size: 24px;
    border: none;
    border-bottom: 2px solid #11d100;
}

form button {
    font-size: 24px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    padding: 8px;
}

form .clear {
    color: #fff;
    background-color: red;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid rgb(20, 42, 241)d0d;
    padding: 16px;
    font-size: 32px;
    font-weight: bold;
}

table td {
    border-bottom: 1px solid rgba(5, 192, 255, 0.1);
    text-align: center;
    font-size: 24px;
    padding: 16px 0;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}